<%= form_for(@building, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>

    <% if @building.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <p><%= pluralize(@building.errors.count, 'erro') %>:</p>
          <ul>
            <% @building.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group" id="photos-div">
      <%= f.label :photos, 'Fotos', :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :photos do |photo_builder| %>
          <%= render 'photo_fields', :pf => photo_builder %>
        <% end %>
        <br/><%= link_to_add_fields 'Adicionar outra foto', f, :photos %>
      </div>
    </div>
    <div class="control-group" id="no-photos-div" style="display: none">
      <%= f.label :photos, 'Fotos', :class => 'control-label' %>
      <div class="controls">
        <%= t :no_browser_support_for_image_upload %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :property, 'Propriedade', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :property, options_for_select([nil]+Building::PROPERTY_VALUES) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :availability, 'Disponibilidade', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :availability, options_for_select([nil]+Building::AVAILABILITY_VALUES) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :functions, 'Funções', :class => 'control-label' %>
      <div class="controls">
        <% for function in Building::FUNCTIONS_VALUES %>
          <%= check_box_tag 'building[functions][]', function %> <%= function %> <br/>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :conservation, 'Conservação', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :conservation, options_for_select([nil]+Building::CONSERVATION_VALUES) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, 'Comentários', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 3, :placeholder => 'Informações extra sobre o edifício' %>
      </div>
    </div>


    <p>
    <div class="status_message" id="loading_location_message"  style="display: none">
      <%= image_tag 'ajax-loader.gif' %>
      A obter localização
    </div>
    <div class="status_message" id="location_found_message"  style="display: none">Nota: A sua localização foi recolhida automaticamente. Pode usar o marcador seguinte para corrigir a posição.</div>
    <div class="status_message" id="location_not_found_message" style="display: none">
      Não foi possível validar a localização. Verifique as definições do seu browser. Pode em alternativa usar o mapa seguinte e marcar a sua posição.
      <%= link_to_function t(:retry_location) ,'findLocation()', :class => 'btn' %>
    </div>


    <div id="building" class="control-group" style="display: none">
      <%= gmaps({
                        :map_options => {
                                :auto_zoom => false,
                                :zoom => 15,
                                :raw => '{styles: myStyle}'
                        },
                        :markers => {
                                :data => @building.to_gmaps4rails,
                                :options => {
                                        :draggable => true
                                }
                        },
                })
      %>
    </div>

    <% content_for :scripts do %>

        <script type="text/javascript" charset="utf-8">
            var markersArray = [];
            // On click, clear markers, place a new one, update coordinates in the form
            Gmaps.map.callback = function () {
                //If we already have a marker from the controller
                if (Gmaps.map.markers[0]) {
                    var locationFromController =

                            new google.maps.LatLng(Gmaps.map.markers[0].lat, Gmaps.map.markers[0].lng);
                    Gmaps.map.replaceMarkers([]);
                    placeMarker(locationFromController);
                    Gmaps.map.map.setCenter(locationFromController);
                    updateFormLocation(locationFromController);
                } else {
                    findLocation();
                }
                google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function (event) {
                    clearOverlays();
                    placeMarker(event.latLng);
                    updateFormLocation(event.latLng);
                });
            };
            // Update form attributes with given coordinates
            function updateFormLocation(latLng) {
                $("#latitude").val(latLng.lat());
                $("#longitude").val(latLng.lng());
            }
            // Add a marker with an open infowindow
            function placeMarker(latLng) {
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: Gmaps.map.serviceObject,
                    draggable: true
                });
                markersArray.push(marker);
                // Listen to drag & drop
                google.maps.event.addListener(marker, 'dragend', function() {
                    updateFormLocation(this.getPosition());
                });
            }
            // Removes the overlays from the map
            function clearOverlays() {
                if (markersArray) {
                    for (var i = 0; i < markersArray.length; i++ ) {
                        markersArray[i].setMap(null);
                    }
                }
                markersArray.length = 0;
            }
        </script>
    <% end %>


    <input type="hidden" name="building[coordinates][]" id="longitude" value=""/>
    <input type="hidden" name="building[coordinates][]" id="latitude" value=""/>

    <div id="submit-in-progress" class="status_message" style="display: none">
      <%= image_tag 'ajax-loader.gif' %> A guardar edifício
    </div>

    <% content_for :scripts do %>
        <script type="text/javascript">
            function send_building() {
                $("#new_building").children().hide();
                $("#submit-in-progress").show();
                $("#new_building").submit();
            }
        </script>
    <% end %>
    <div id="submit-form-actions" class="form-actions">
      <%= link_to 'Voltar', root_path, :class => 'btn btn-large' %>
      <%= link_to_function 'Enviar', 'send_building()' ,:class => 'btn btn-success btn-large' %>
    </div>

<% end %>
