<!DOCTYPE html>
<html>
<head>
  <title><%= t(:app_name) %></title>
  <meta name="description" content="<%= t(:app_description) %>">
  <meta name="keywords" content="coimbra,centro,histórico,edifícios">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="<%= t(:app_name) %> - <%= t(:app_description) %>"/>
  <meta property="og:description" content="<% if content_for? :description %><%= yield :description %><% else %><%= t(:app_description) %><% end %>"/>
  <meta property="og:image" content="<% if content_for? :building_image %><%= yield :building_image %><% end %>"/>
  <meta property="og:url" content="http://<%= request.host+request.fullpath %>"/>
  <meta property="og:type" content="website"/>

  <link rel="icon" type="image/png" href="<%= image_path('/img/favicon.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= image_path('/img/b-medium.png') %>" />

</head>
<body>
  <% if Rails.env == 'production' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42452983-3', 'centro.improvecoimbra.org');
      ga('send', 'pageview');
    </script>
  <% end %>

  <%= yield :body %>

  <%= javascript_include_tag 'application' %>
  <%= yield :scripts %>
</body>
</html>
